body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(0,77,76);
    background: #EAEDED;
}

header .logo{
    background:#222F3E;
    padding: 20px 2%;
}

header .logo img{
    width: 9%;
}

header nav{
    background: #354758;
    padding: 10px 2%;
}

header nav ul{
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li{
    padding: 0;
    margin: 0 30px 0 0;
    list-style: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

main{
    padding: 20px 2%;
    width: 96%;
}

main .callto{
    background: #F56600;
    padding: 10px 2%;
    text-align: center;
}

main .callto a{
    color: white;
    text-decoration: none;
}

main .slide{
    background-image: url(assets/bg-image.png);
    text-align: center;
    color: white;
    margin: 20px 0;
    padding: 60px 0;
}

main .slide h1{
    margin: 0;
    padding: 0 0 20px 0;
}

main .slide h2{
    margin: 0;
}

main .shop{
    background: #fff;
    margin: 0;
}

main .shop .title{
    display: flex;
    padding: 20px 2%;
}

main .banner .title{
    display: flex;
    padding: 0 2%;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

main .shop .title h3,
main .banner .title h3{
    margin: 0;
    font-size: 1.2rem;
    color: #000;
}

main .shop .title a,
main .banner .title a{
    margin: 0 2%;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #017185;
}

main .banner .title a{
    margin: 0 6%;
}

main .shop .gift{
    display: flex;
    padding: 0 0 20px 0;
}

main .shop .gift .item{
    width: 25%;
    padding: 0 2%;
}

main .shop .gift .item .im1,
main .shop .gift .item .im2,
main .shop .gift .item .im3,
main .shop .gift .item .im4{
    background-image: url(assets/img_1.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.3) 6px 6px 14px;
}

main .shop .gift .item .im2{
    background-image: url(assets/img_2.jpg);
}

main .shop .gift .item .im3{
    background-image: url(assets/img_3.jpg);
}

main .shop .gift .item .im4{
    background-image: url(assets/img_4.jpg);
}

main .banner{
    width: 100%;
    margin: 20px 0;
}

main .banner img{
    width: 100%;
}

footer .back{
    background: #354758;
    text-align: center;
    padding: 10px 2%;
}

footer .back a{
    color: white;
    font-weight: 600;
}

footer .footerin{
    background: #222F3E;
    text-align: center;
    padding: 60px 2%;
}

footer .footerin img{
    width: 15%;
    margin: 0 auto;
}