body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-section{
    padding: 20px;
}

.main-section .image-container{
 height: 500px;
 width: 100%;
 background: url(assets/cinque-terre-italy.jpg) no-repeat;
 background-size: cover;
 background-position: center center;
}

.main-section .image-container.im2{
    background: url("https://www.cinqueterre.eu.com/images/stories/web/monterosso/monterosso-cinque-terre-panorama-1200.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section .image-container.im3{
    background: url("https://www.cinqueterre.eu.com/images/stories/web/vernazza/vernazza-cinque-terre01_big.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section .image-container.im4{
    background: url("https://www.cinqueterre.eu.com/images/stories/web/corniglia/corniglia-cinque-terre-03_big.JPG") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section .image-container.im5{
    background: url("https://www.cinqueterre.eu.com/images/stories/web/manarola/manarola-cinque-terre-footpath-1200.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section .image-container.im6{
    background: url("https://www.cinqueterre.eu.com/images/stories/web/riomaggiore/riomaggiore-cinque-terre-sea-1200.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main-section h1,
.main-section h3{
 font-family: 'Prata', serif;
 font-size: 64px;
 font-weight: 400;
 margin-bottom: 0;
}

.main-section h3{
    font-size: 24px;
    margin-top: 0;
}

.main-section p a{
    font-weight: 600;
    font-style: italic;
}

.main-section h6{
    padding: 22px;
    margin: 56px 0 0 0;
    color: white;
    background: linear-gradient(45deg, #005bd2, #03091b);
}

.main-section.p3 h6{
    background: linear-gradient(45deg, #2ba6d8, #3a0e00);
}

.main-section.p4 h6{
    background: linear-gradient(45deg, #b3ca4c, #6cb0e2);
}

.main-section.p5 h6{
    background: linear-gradient(45deg, #b3ca4c, #6cb0e2);
}

.main-section.p6 h6{
    background: linear-gradient(45deg, #ea3c09, #524d33);
}

.main-section ul{
    list-style: none;
    padding: 0;
}

.main-section ul li{
    padding: 6px 22px;
    border-bottom: #dfdfdf 1px solid;
}

.main-section ul li a{
    text-decoration: none;
    color:#005bd2;
}

.main-section.p3 ul li a{
    color:#2ba6d8;
}

.main-section.p4 ul li a{
    color:#b3ca4c;
}

.main-section.p5 ul li a{
    color:#b3ca4c;
}

.main-section.p6 ul li a{
    color:#ea3c09;
}

footer{
    background-color: black;
    color: white;
    padding: 16px;
    text-align: center;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}